%p hello world

/ コピー対象要素とコピーボタン
%input#copyTarget{:readonly => "readonly", :type => "text", :value => "コピー対象の文言"}/
%button{:onclick => "copyToClipboard()"} Copy text

/ bodyタグ内の下部に以下を入力する
:javascript
  function copyToClipboard() {
      // コピー対象をJavaScript上で変数として定義する
      var copyTarget = document.getElementById("copyTarget");
      // コピー対象のテキストを選択する
      copyTarget.select();
      // 選択しているテキストをクリップボードにコピーする
      document.execCommand("Copy");
      // コピーをお知らせする
      alert("コピーできました！ : " + copyTarget.value);
  }

